/*Now the CSS*/
* {margin: 0; padding: 0;font-family:sans-serif;}

.tree  {
	padding-top: 20px;position:relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree .litree {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree .litree::before, .tree .litree::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree .litree::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree .litree:only-child::after, .tree .litree:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree .litree:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree .litree:first-child::before, .tree .litree:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree .litree:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree .litree:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree .ultree .ultree::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree .litree .atree{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 28px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree .litree .atree:hover, .tree .litree .atree:hover+.ultree .litree .atree {
	background: #e9453f; color: #000; border: 1px solid #e9453f;
}
/*Connector styles on hover*/
.tree .litree .atree:hover+.ultree .litree::after, 
.tree .litree .atree:hover+.ultree .litree::before, 
.tree .litree .atree:hover+.ultree::before, 
.tree .litree .atree:hover+.ultree .ultree::before{
	border-color:  #e9453f;
}

/*TOP MENU*/

.ulmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.limenu {
    float: left;
}

.limenu .amenu {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:32px;
}

.limenu .amenu:hover:not(.active) {
    background-color: #111;
}

.activemenu {
    background-color: #4CAF50;
}

/*SIDE MENU*/
.side{
position:absolute;
z-index:100;
left:0;
top:8%;
}

.ulside {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
    position: fixed;
    height:100%;
    overflow: auto;
}

.liside .aside {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size:30px;
}

.liside .aside.active {
    background-color: #4CAF50;
    color: white;
}

.liside .aside:hover:not(.active) {
    background-color: #555;
    color: white;
}

.titleside{
	font-size:32px;
	font-family:sans-serif;
	color:white;
}
